.app {
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    top: 0;
    z-index: 100;
    border-bottom: 1px solid none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* width: 100%; */
}

.header h1 {
    font-weight: 800;
}

.menuBar {
    display: none;
}


.menus {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.menu {
    font-weight: 800;
    font-size: 20px;
    transition: 0.3s ease;
    margin-right: 20px;
}

.menu a:hover {
    color: rgba(203, 203, 210, 0.8);

}

.footer {
    margin-top: 100px;
    background-color: black;
    height: 100px;
    align-content: center;
    justify-items: center;
}

.footer p {
    color: rgba(255, 255, 255, 0.584);
    font-size: 12px;

}

@media screen and (max-width: 768px) {

    .header {
        justify-content: center;
        flex-direction: column;
    }

    .menus {
        flex-direction: column;
        display: none;
    }



    .menuBarHeader {
        display: flex;
        justify-content: space-between;

    }

    .menuBar {
        display: block;
        position: absolute;
        right: 32px;
        font-size: 50px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .menusActive {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        gap: 20px;


    }
}