.app {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menus {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
}

.menu {
    
}