/* .container {
    /* width: 100vw; 
} */

.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-image: url('../../assets/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.header h2 {
  font-size: 48px;
  font-weight: 1000;

}

.header p {
  color: #888787;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

}

.aboutme {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  margin-bottom: 100px;
}

/* 프로필 이미지 */
.profileImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 100px;
}


.skills {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.main h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 1000;
  border-bottom: 1px solid black;
}